body {

}

#form {

}

.box-titles {

}

.box {
    border: 2px solid lightgray;
    border-radius: 4px;
    background-color: lightgray;
    color: black;
}

#link-list {
    list-style-type: none;
    padding: 0px;
    font-size: 18px;
}

.list-item {
    display: flex;
    justify-content: space-between;
}

.list-item-delete {
    cursor: pointer;
}

.list-item-delete:hover {
    color: red;
}