.button {
  border: 8px solid cornflowerblue;
  background-color: cornflowerblue;
  border-radius: 4px;
  color: white;
}

.header{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: cornflowerblue;
    margin-top: 0px;
    margin-bottom: 2px;
}

input {
    margin-bottom: 5px;
}

.box-titles {
    font-family: 'Open Sans', sans-serif;
    font-size: small;
}

.box {
    border: 8px solid #ECEEED;
    border-radius: 4px;
    background-color: #ECEEED;
    color: black;
    width: 200px;
}

#reminder {
    width: 50px;
    margin-bottom: 10px;
}

#link-list {
    list-style-type: none;
    padding: 0px;
    font-size: 18px;
}

.list-item {
    display: flex;
    background-color: #ECEEED;
    border: 4px solid #ECEEED;
    border-radius: 4px;
    margin-top: 8px;
    font-size: small;
    font-family: 'Open Sans', sans-serif;
}

.list-item-delete {
    cursor: pointer;
}

.list-item-delete:hover {
    color: red;
}